[user]
        name = David 
        email = 

[credential]
        helper = !aws codecommit credential-helper $@

[pretty]
        better-oneline = "format:%ad %C(auto)%h%d %s %Cblue[%cn]"    

# clearly makes git better

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[alias]
       cp  = cherry-pick
       cpa = cherry-pick --abort
       cpc = cherry-pick --continue
       co  = checkout
       ls      = log --pretty=better-oneline --date=short
       ll      = log --pretty=better-oneline --numstat --date=short
       details = "!f() { git ll "$1"^.."$1"; }; f"
       branches = branch -a
       tags     = tag
